<div class="add-event-form" *ngIf="show">
  <form [formGroup]="form" (ngSubmit)="formSubmit()">
    <input type="text" class="add-event-form__input" formControlName="name" name="name" placeholder="Название события"/>
    <input type="text" class="add-event-form__input" formControlName="members" placeholder="Имена участников"/>
    <textarea class="add-event-form__text" rows="8" formControlName="about" placeholder="Описание"></textarea>

    <button class="add-event-form__button add-event-form__button_submit" type="submit">
      Добавить
    </button>
    <button type="reset" class="add-event-form__button add-event-form__button_reset" (click)="hideForm()">
      Отменить
    </button>
  </form>
</div>
